.contents-section {
    margin: 100px 0;
    padding: 50px 200px;

    &__header {
        justify-content: center;

        text-align: center;

        margin-bottom: 44px;

        .title, .subtitle {
            margin: 10px;
        }
    }

    .cards {
        width: 985px;

        .card {
            background-color: #fff;

            width: 476px;
            height: 545px;

            padding: 40px 0;

            border-radius: 10px;
            border: 1px solid #D3D3D3;
            text-align: center;
            &__header {
                background-color: #fff;
                max-width: 303px;
                max-height: 152px;

                .title {
                    padding: 10px;
                    color: black;
                }
    
                .description {
                    padding: 10px;
                    color: #5C5C5C;
                }
            }

            .button {
                background-color: #4452FE;
                box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);                

                padding: 20px 36px;
            }

            .card1 {
                width: 405px;
                height: 227px;
            }

            .card2 {
                width: 379px;
                height: 276px;
            }
        }
    }

}