.features-section {
  padding-top: 162px;

  &__title {
    text-transform: uppercase;

    text-align: center;
  }

  &__subtitle {
    margin-bottom: 80px;

    text-align: center;
  }

  &__content {
    display: flex;

    width: 1100px;
  }

  &__images {
    height: 752px;
    width: 760px;

    margin-right: 46px;

    position: relative;
  }

  &__panel-image {
    position: absolute;
    left: 28px;
    top: 0;

    height: 696px;
    width: 659px;
  }

  &__graphic-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 270px;
  }

  &__list {
    width: 100%;
    max-width: 270px;

    &-title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;

      margin-bottom: 20px;
    }

    &-text {
      font-size: 16px;
      line-height: 24px;
      padding-left: 10px;

      text-align: left;
    }
  }

  &__list-item {
    margin-bottom: 8px;

    svg {
      margin: 10px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}