footer {
    padding: 107px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: $window-size-lg) {
        display: flex;
        flex-direction: column;
        max-width: 322px;
        
     }
    .nav {
        max-width: 513px;
        width: 100%;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $window-size-lg) {
            max-width: 300px;
            display: flex;
            flex-direction: column;
         }

        .list {
            width: 121px;

            @media screen and (max-width: $window-size-lg) {
                margin-bottom: 75px;
            }

            .item {
                margin-bottom: 19px;
            }
            .item:first-child {
                margin-bottom: 40px;
            }
            .item:last-child {
                margin-bottom: 0;
            }
        }
    }

    .contacts {
        max-height: 190px;
        height: 100%;
        max-width: 322px;
        width: 100%;

        @media screen and (max-width: $window-size-lg) {
            max-height: 500px;
        }

        .address {
            margin-bottom: 10px;

            svg {
                margin-right: 8px;
            }
            .text {

            }
        }

        .images {
            svg {
                margin-right: 24px;
            }
        }
    }
}