footer {
    padding: 107px 0;

    .nav {
        width: 513px;

        .list {
            width: 121px;

            .item {
                margin-bottom: 19px;
            }
            .item:first-child {
                margin-bottom: 40px;
            }
            .item:last-child {
                margin-bottom: 0;
            }
        }
    }

    .contacts {
        height: 190px;

        .address {

            svg {
                margin-right: 8px;
            }
            .text {

            }
        }

        .images {
            svg {
                margin-right: 24px;
            }
        }
    }
}