.gallery-section {
    margin: 100px 0;
    padding: 50px 200px;

    height: 911px;

    text-align: center;

     .header {
        margin-bottom: 0;

        .title, .description {
            padding: 10px;
        }
     }
     
     .button {
        color: #fff;

        padding: 10px 30px;

        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
     }

     .content {
        width: 1100px;

        img {
            height: 285px;
            border-radius: 10px;
        }

        .img-sm {
            width: 225px;
        }

        .img-lg {
            width: 400px;
        }
     }
}