.header {
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: var(--bg-color);

  padding: $separator-20 $separator-30;

  @media screen and (max-width: $window-size-lg) {
    padding: $separator-15 $separator-25;
    margin-bottom: $separator-55;
  }

  .context {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1100px;

    .logo{
      padding: $separator-10;
    }

    nav{
      display: flex;
      flex-direction: column;

      max-width: 395px;
      width: 100%;

      @media screen and (max-width: $window-size-lg) {
        display: none;
        width: 0;
      }

      .list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .list-item{
          padding: $separator-10;
          
          .list-item-link{

          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;

      margin-right: 25px;

      .btn-login {
        padding: $separator-15 $separator-50;

        background-color: transparent;
        color: $text-color-main;

        border: 1px solid $text-color-main;

        font-size: $fsz-sm;
        line-height: $lh-sm;
        font-weight: 500;

        @media screen and (max-width: $window-size-lg) {
          margin-right: $separator-15;
        }
      }
      .menu {
        display: none;

        @media screen and (max-width: $window-size-lg) {
          display: block;

          background-color: transparent;

          width: 66px;
          height: 53px;
        }
      }
    }
  }
}