.opentype-section {
    .container {
        max-width: 1220px;
        width: 100%;
        max-height: 370px;
        height: 100%;

        margin: 100px 0;
    
        border-radius: 33px;
        background: #343434;

        @media screen and (max-width: $window-size-lg) {
            max-height: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 0;
            background-color: transparent;

            margin-bottom: 100px;
        }

        .content {
            padding: 74px;

            @media screen and (max-width: $window-size-lg) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .text {
                font-size: 52px;
                line-height: 62px;
                padding: 0 10px;

                width: 492px;

                @media screen and (max-width: $window-size-lg) {
                    margin-bottom: 37px;
                }
            }

            .button {
                width: 232px;

                font-size: 17px;
                line-height: 25px;

                background-color: #4452FE;
                box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);                

                padding: 20px 36px;
            }
        }

        img{
            width: 560px;
            height: 370px;

            border-bottom-right-radius: 33px;

            @media screen and (max-width: $window-size-lg) {
                border-bottom-right-radius: 0;
            }   
        }
    }

}