.partners-section {
    padding: 50px 20px;
    
    max-height: 385px;
    height: 100%;
    width: 100%;

    text-align: center;

    @media screen and (max-width: $window-size-lg) {
        max-width: 510px;
        margin: auto;
        margin-bottom: 101px;

    }

    .header {
        margin-bottom: 0;

        @media screen and (max-width: $window-size-lg) {
            margin-bottom: 50px;
        }
    }

    .title, .subtitle {
        padding: 10px;
    }

    .content {
        width: 100%;
        max-width: 832px;

        @media screen and (max-width: $window-size-lg) {
            max-width: 350px;
            flex-wrap: wrap;

            margin-bottom: 50px;
        }

        svg {
            @media screen and (max-width: $window-size-lg) {
                margin: 0 25px;

                max-width: 63px;
            }
        }
    }

    .button {
        color: #fff;

        padding: 10px 30px;

        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
     }
}