.partners-section {
    padding: 50px 20px;
    
    height: 385px;

    text-align: center;

    .header {
        margin-bottom: 0;
    }

    .title, .subtitle {
        padding: 10px;
    }

    .content {
        width: 832px;
    }

    .button {
        color: #fff;

        padding: 10px 30px;

        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
     }
}