@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

/* -----Variables------- */
:root {
  --bg-color: #181818;
}
/* --------------------- */

/* base styles */
body {
  margin: 0;

  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  color: #fff;

  display: flex;
  flex-direction: column;
}

ul {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  font-size: 17px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  outline: none;
  border: none;
}

h1,h2,h3
p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-weight: 400;
}

/* --------------------- */

// .logo {
//   margin-right: 136px;
// }

.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;

  &:hover {
    background-color: #4452fe;
    border-color: #4452fe;
  }

  &--small{
    padding: 14px 46px;
  }

  &--large {
    padding: 20px 40px;
  }
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-evently {
    justify-content: space-evenly;
  }

  &.align-center {
    align-items: center;
  }
}

