/*Colors*/
$bg-color-main: #181818;
$text-color-main: white;
$btn-bgc: #4452FE;

/*Fonts*/
$fsz-lg: 52px;
$fsz-mg: 20px;
$fsz-sm: 16px;

$fw-400: 400;
$fw-500: 500;

$lh-lg: 88px;
$lh-md: 30px;
$lh-sm: 24px;

/*Separators*/
$section-between-size: 100px;
$section-padding-vh: 50px;


