/*Max-window*/
/*Colors*/
/*Fonts*/
/*Separators*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
/* -----Variables------- */
:root {
  --bg-color: #181818;
}

/* --------------------- */
/* base styles */
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  color: #fff;
  display: flex;
  flex-direction: column;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  font-size: 17px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  outline: none;
  border: none;
}

h1, h2, h3 p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-weight: 400;
}

/* --------------------- */
.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.button:hover {
  background-color: #4452fe;
  border-color: #4452fe;
}
.button--small {
  padding: 14px 46px;
}
.button--large {
  padding: 20px 40px;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-evently {
  justify-content: space-evenly;
}
.flex.align-center {
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color);
  padding: 20px 30px;
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 15px 25px;
    margin-bottom: 55px;
  }
}
.header .context {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}
.header .context .logo {
  padding: 10px;
}
.header .context nav {
  display: flex;
  flex-direction: column;
  max-width: 395px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .header .context nav {
    display: none;
    width: 0;
  }
}
.header .context nav .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .context nav .list .list-item {
  padding: 10px;
}
.header .context .buttons {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}
.header .context .buttons .btn-login {
  padding: 15px 50px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .header .context .buttons .btn-login {
    margin-right: 15px;
  }
}
.header .context .buttons .menu {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header .context .buttons .menu {
    display: block;
    background-color: transparent;
    width: 66px;
    height: 53px;
  }
}

.features-section {
  padding-top: 162px;
}
@media screen and (max-width: 1200px) {
  .features-section {
    padding: 62px 50px;
    margin: auto;
    max-width: 454px;
    margin-bottom: 101px;
  }
}
.features-section__title {
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .features-section__title {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 27px;
  }
}
.features-section__subtitle {
  margin-bottom: 80px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .features-section__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 27px;
  }
}
.features-section__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1100px;
}
@media screen and (max-width: 1200px) {
  .features-section__content {
    flex-direction: column;
    align-items: center;
  }
}
.features-section__images {
  max-height: 752px;
  max-width: 760px;
  width: 100%;
  height: 100%;
  margin-right: 46px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .features-section__images {
    max-width: 376px;
  }
}
.features-section__panel-image {
  position: absolute;
  left: 28px;
  top: 0;
  height: 696px;
  width: 659px;
}
@media screen and (max-width: 1200px) {
  .features-section__panel-image {
    height: 319px;
    width: 324px;
  }
}
.features-section__graphic-image {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 270px;
}
@media screen and (max-width: 1200px) {
  .features-section__graphic-image {
    height: 160px;
    width: 232px;
    top: 200px;
    left: 76px;
  }
}
.features-section__list {
  width: 100%;
  max-width: 270px;
}
@media screen and (max-width: 1200px) {
  .features-section__list {
    padding-top: 400px;
  }
}
.features-section__list-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.features-section__list-text {
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
  text-align: left;
}
.features-section__list-item {
  margin-bottom: 8px;
}
.features-section__list-item svg {
  margin: 10px;
}
.features-section:last-child {
  margin-bottom: 0;
}

.welcome-section {
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .welcome-section {
    margin-bottom: 101px;
  }
}
.welcome-section__title {
  margin-bottom: 28px;
  font-size: 80px;
  line-height: 88px;
}
@media screen and (max-width: 1200px) {
  .welcome-section__title {
    font-size: 52px;
    line-height: 62px;
    width: 100%;
    max-width: 382px;
    padding: 10px;
    margin: 0;
    margin-bottom: 7px;
  }
}
.welcome-section__subtitle {
  margin-bottom: 86px;
  font-size: 20px;
  line-height: 30px;
}
@media screen and (max-width: 1200px) {
  .welcome-section__subtitle {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    max-width: 402px;
    margin: 0;
    margin-bottom: 57px;
  }
}
.welcome-section__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 36px;
}
@media screen and (max-width: 1200px) {
  .welcome-section__links {
    flex-direction: column;
    align-items: center;
  }
}
.welcome-section__link:first-child {
  margin-right: 36px;
  background-color: #4452FE;
  border-color: #181818;
}
@media screen and (max-width: 1200px) {
  .welcome-section__link:first-child {
    margin: 0;
    margin-bottom: 21px;
  }
}
.welcome-section__gradient {
  position: absolute;
  width: 100%;
  height: 550px;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}

.contents-section {
  margin: 100px 0;
  padding: 50px 200px;
}
@media screen and (max-width: 1200px) {
  .contents-section {
    padding: 50px 159px;
    max-width: 389px;
    margin: auto;
    margin-bottom: 101px;
  }
}
.contents-section__header {
  justify-content: center;
  text-align: center;
  margin-bottom: 44px;
}
.contents-section__header .title {
  margin: 10px;
}
.contents-section__header .subtitle {
  margin: 10px;
}
.contents-section .cards {
  width: 100%;
  max-width: 985px;
}
@media screen and (max-width: 1200px) {
  .contents-section .cards {
    flex-direction: column;
    align-items: center;
  }
}
.contents-section .cards .card {
  background-color: #fff;
  width: 476px;
  height: 545px;
  padding: 40px 0;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .contents-section .cards .card {
    width: 348px;
  }
}
.contents-section .cards .card__header {
  background-color: #fff;
  max-width: 303px;
  max-height: 152px;
}
.contents-section .cards .card__header .title {
  padding: 10px;
  color: black;
}
.contents-section .cards .card__header .description {
  padding: 10px;
  color: #5C5C5C;
}
.contents-section .cards .card .button {
  background-color: #4452FE;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 36px;
}
.contents-section .cards .card .card1 {
  width: 405px;
  height: 227px;
}
@media screen and (max-width: 1200px) {
  .contents-section .cards .card .card1 {
    height: 150px;
    width: 228px;
  }
}
.contents-section .cards .card .card2 {
  width: 379px;
  height: 276px;
}
@media screen and (max-width: 1200px) {
  .contents-section .cards .card .card2 {
    height: 204px;
    width: 208px;
  }
}
@media screen and (max-width: 1200px) {
  .contents-section .cards .card-first {
    margin-bottom: 33px;
  }
}

.gallery-section {
  margin: 100px 0;
  padding: 50px 200px;
  max-height: 911px;
  height: auto;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .gallery-section {
    padding: 50px 199px;
    margin: auto;
    margin-bottom: 101px;
    max-height: 1600px;
    max-width: 396px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.gallery-section .header {
  margin-bottom: 0;
}
.gallery-section .header .title, .gallery-section .header .description {
  padding: 10px;
}
.gallery-section .button {
  color: #fff;
  padding: 10px 30px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
.gallery-section .content {
  max-width: 1100px;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .gallery-section .content {
    flex-direction: column;
  }
}
.gallery-section .content img {
  height: 285px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .gallery-section .content img {
    margin-bottom: 33px;
    width: 100%;
    max-width: 285px;
  }
}
.gallery-section .content .img-sm {
  width: 225px;
}
@media screen and (max-width: 1200px) {
  .gallery-section .content .img-sm {
    width: 100%;
    max-width: 285px;
  }
}
.gallery-section .content .img-lg {
  width: 400px;
}
@media screen and (max-width: 1200px) {
  .gallery-section .content-second-row {
    display: none;
  }
}

.partners-section {
  padding: 50px 20px;
  height: 385px;
  text-align: center;
}
.partners-section .header {
  margin-bottom: 0;
}
.partners-section .title, .partners-section .subtitle {
  padding: 10px;
}
.partners-section .content {
  width: 832px;
}
.partners-section .button {
  color: #fff;
  padding: 10px 30px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.testimonials-section {
  height: 781px;
  padding: 50px 20px;
}
.testimonials-section .content {
  width: 883px;
  height: 654px;
}
.testimonials-section .content .card {
  width: 350px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  padding: 40px;
}
.testimonials-section .content .card__header {
  margin-bottom: 30px;
}
.testimonials-section .content .card__header img {
  width: 50px;
  height: 50px;
  margin-right: 13px;
}
.testimonials-section .content .card__header .title {
  padding: 0 10px;
  text-align: left;
}
.testimonials-section .content .card .description {
  width: 338px;
}

.opentype-section .container {
  width: 1220px;
  height: 370px;
  margin: 100px 0;
  border-radius: 33px;
  background: #343434;
}
.opentype-section .container .content {
  padding: 74px;
}
.opentype-section .container .content .text {
  font-size: 52px;
  line-height: 62px;
  padding: 0 10px;
  width: 492px;
}
.opentype-section .container .content .button {
  width: 232px;
  font-size: 17px;
  line-height: 25px;
  background-color: #4452FE;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 36px;
}
.opentype-section .container img {
  width: 560px;
  height: 370px;
  border-bottom-right-radius: 33px;
}

footer {
  padding: 107px 0;
}
footer .nav {
  width: 513px;
}
footer .nav .list {
  width: 121px;
}
footer .nav .list .item {
  margin-bottom: 19px;
}
footer .nav .list .item:first-child {
  margin-bottom: 40px;
}
footer .nav .list .item:last-child {
  margin-bottom: 0;
}
footer .contacts {
  height: 190px;
}
footer .contacts .address svg {
  margin-right: 8px;
}
footer .contacts .images svg {
  margin-right: 24px;
}/*# sourceMappingURL=index.css.map */