@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
/* -----Variables------- */
:root {
  --bg-color: #181818;
}

/* --------------------- */
/* base styles */
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  color: #fff;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  font-size: 17px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  outline: none;
  border: none;
}

h1, h2, h3 p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-weight: 400;
}

/* --------------------- */
.logo {
  margin-right: 136px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.button:hover {
  background-color: #4452fe;
  border-color: #4452fe;
}
.button--small {
  padding: 14px 46px;
}
.button--large {
  padding: 20px 40px;
}

.flex {
  display: flex;
}
.flex.justify-center {
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  margin-bottom: 120px;
  background-color: var(--bg-color);
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-right: 174px;
}
.header__list {
  display: flex;
}
.header__item {
  margin-right: 30px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  padding: 10px;
}

.features-section {
  padding-top: 162px;
}
.features-section__title {
  text-transform: uppercase;
  text-align: center;
}
.features-section__subtitle {
  margin-bottom: 80px;
  text-align: center;
}
.features-section__content {
  display: flex;
  width: 1100px;
}
.features-section__images {
  height: 752px;
  width: 760px;
  margin-right: 46px;
  position: relative;
}
.features-section__panel-image {
  position: absolute;
  left: 28px;
  top: 0;
  height: 696px;
  width: 659px;
}
.features-section__graphic-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 270px;
}
.features-section__list {
  width: 100%;
  max-width: 270px;
}
.features-section__list-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.features-section__list-text {
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
  text-align: left;
}
.features-section__list-item {
  margin-bottom: 8px;
}
.features-section__list-item svg {
  margin: 10px;
}
.features-section:last-child {
  margin-bottom: 0;
}

.welcome-section {
  position: relative;
  text-align: center;
}
.welcome-section__title {
  margin-bottom: 28px;
  font-size: 80px;
  line-height: 88px;
}
.welcome-section__subtitle {
  margin-bottom: 86px;
  font-size: 20px;
  line-height: 30px;
}
.welcome-section__links {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
.welcome-section__link:first-child {
  margin-right: 36px;
}
.welcome-section__gradient {
  position: absolute;
  width: 100%;
  height: 550px;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}/*# sourceMappingURL=index.css.map */